<div>
    <p>
        From: <%= email.from %>
    </p>
    <p>
        To: <%= email.to %>
    </p>
    <p>
        object: <%= email.object %>
    </p>
    <p>
        body: <%= email.body %>
    </p>
</div>
